*.bak
*.class
*.iml
*.ipr
*.iws
*.log
*.pid
*.seed

.cache
.history
.idea
.idea_modules
.lib
.lock-wscript
.scala_dependencies
.worksheet

bower_components
build
coverage
dist
lib-cov
lib_managed
logs
node_modules
pids
project/boot
project/plugins/project
src_managed
target
