@import url(http://fonts.googleapis.com/css?family=Lobster|PT+Serif);

body {
    font-family: 'PT Serif';
    background-color: #ecf0f1;
}

main p a, main p a:hover {
    color: #222222;
    text-decoration: underline;
}

.top-bar {
    -webkit-box-shadow: 0px 1px 9px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 9px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 9px 3px rgba(0,0,0,0.75);
    margin-bottom:40px;
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #c0392b;
}

.title-area .name h1 {
    margin-left: 5px;
    background: center left url("../img/icon_white.png") no-repeat;
    padding-left: 20px;
    font-size: 18pt;
    font-family: 'Lobster';
}

h2 {
    background: center left url("../img/icon_red.png") no-repeat;
    padding-left: 65px;
    color: #c0392b;
    font-size: 38pt;
    font-family: 'Lobster';
}

h3 {
    color: #c0392b;
    font-size: 26pt;
    font-family: 'Lobster';
}

main {
    padding: 15px 0;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}

.button, .button:active, .button:visited {
    border-color: #c0392b;
    background-color: #c0392b !important;
}

.button:hover {
    background-color: #333333 !important;
}

.back-next {
    margin-top: 20px;
}

.range-slider-handle, .range-slider-handle:hover {
    background-color: #c0392b !important;
}

.range-slider-active-segment {
    background-color: #777777 !important;
}
