@import url(http://fonts.googleapis.com/css?family=Lobster|PT+Serif);

@primary   : #c0392b;
@secondary : #333333;
@body-bg   : #ecf0f1;
@main-bg   : #ffffff;
@main-fg   : #222222;

@body-font  : 'PT Serif';
@title-font : 'Lobster';

.box-shadow(@x: 0; @y: 0; @blur: 1px; @spread: 0; @color: rgba(0, 0, 0, 0.75)) {
  -webkit-box-shadow : @arguments;
  -moz-box-shadow    : @arguments;
  box-shadow         : @arguments;
}

body {
    font-family      : @body-font;
    background-color : @body-bg;
}

main {
    padding    : 15px 0;
    background : @main-bg;

    p a, p a:hover {
        color           : @main-fg;
        text-decoration : underline;
    }

    .box-shadow(0px; 3px; 9px);
}

h1 {
    font-family  : @title-font;
    font-size    : 18pt;
    background   : center left url("../img/icon_white.png") no-repeat;
    margin-left  : 5px;
    padding-left : 20px;
}

h2 {
    color        : @primary;
    font-family  : @title-font;
    font-size    : 38pt;
    background   : center left url("../img/icon_red.png") no-repeat;
    padding-left : 65px;
}

h3 {
    color       : @primary;
    font-family : @title-font;
    font-size   : 26pt;
}

.top-bar .toggle-topbar .menu-icon a {
    font-family : @body-font;
}

.top-bar {
    margin-bottom : 40px;
    .box-shadow(0px; 1px; 9px; 3px);
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
    background-color : @primary;
}

.button, .button:active, .button:visited {
    background-color : @primary !important;
    border-color     : @primary !important;

    &:hover {
        background-color : @secondary !important;
    }
}

.back-next {
    margin-top : 20px;
}

.range-slider-handle &:hover {
    background-color : @primary !important;
}

.range-slider-active-segment {
    background-color : #777777 !important;
}
