// TODO: split to file per component and clean up
@import '~bootstrap/less/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Cabin+Condensed:700,400');

.box-shadow(@x: 0; @y: 0; @blur: 1px; @spread: 0; @color: rgba(0, 0, 0, 0.75)) {
  box-shadow:         @arguments;
  -moz-box-shadow:    @arguments;
  -webkit-box-shadow: @arguments;
}

@primary:    #c0392b;
@secondary:  #333333;
@main-bg:    #dddddd; // #ecf0f1;
@main-fg:    #222222;
@alter-bg:   #333333;
@alter-fg:   #ffffff;
@content-bg: #ffffff;
@content-fg: #222222;

@heading-font: 'Cabin Condensed';
@subhead-font: 'Architects Daughter';

@body-bg:       @main-bg;
@text-color:    @main-fg;
@brand-primary: @primary;
@brand-info:    @secondary;

@border-radius-base:  0;
@border-radius-large: 0;
@border-radius-small: 0;

@navbar-height:        50px;
@navbar-margin-bottom: 40px;

@navbar-default-color:               @alter-fg;
@navbar-default-link-color:          @navbar-default-color;
@navbar-default-link-hover-color:    @navbar-default-color;
@navbar-default-link-active-color:   @navbar-default-color;
@navbar-default-brand-color:         @navbar-default-color;
@navbar-default-brand-hover-color:   @navbar-default-color;
@navbar-default-toggle-border-color: @navbar-default-color;

@navbar-default-bg:                  @primary;
@navbar-default-link-hover-bg:       @navbar-default-link-active-bg;
@navbar-default-toggle-hover-bg:     @navbar-default-link-active-bg;
@navbar-default-toggle-icon-bar-bg:  @navbar-default-color;

.navbar {
  .box-shadow(0px; 1px; 9px; 3px);
}

.d-none{
  display:none;
}

.p-relative{
  position:relative;
}

#spinner-div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; 
  background-color: rgba(255, 255, 255, 0.7)
}

.logo {
  font-size:   2.5em;
  font-weight: 700;
  font-family: @heading-font;
  text-shadow: #000 3px 3px 0;
}

.container {
  min-width: 600px !important;
}

.home-content {
  .box-shadow(5px; 5px; 9px);

  color:      @alter-fg;
  border:     @alter-fg 3px ridge;
  background: @primary;
  padding:    20px;

  h2 {
    text-align:     center;
    font-size:      10em;
    font-weight:    700;
    font-family:    @heading-font;
    letter-spacing: -5px;
    text-shadow:    #000 5px 5px 0;
    margin-bottom:  30px;
  }

  h3 {
    text-align:  center;
    font-size:   1.5em;
    font-family: @subhead-font;
    margin-bottom:  20px;
  }

  p {
    padding: 0 30px;
    text-align: justify;
    a, a:hover {
      text-decoration: underline;
    }
  }

  .buttons {
    width: 300px;
    text-align: center;
    margin: 30px auto 0;
  }
}

.dropzone{
  p{
    padding: 10px;
  }
  div{
    max-height: 100px;
  }
}
.success,.failure{
  span{
    float:left;
    margin-right: 5px;
  }
  .clear{
    clear:both;
  }
}

.content {
  .box-shadow(5px; 5px; 9px);

  padding:    15px 30px;
  color:      @content-fg;
  background: @content-bg;
  margin-bottom: 30px;

  h3 {
    font-size:   2.5em;
    font-weight: 700;
    font-family: @heading-font;
  }

  p {
    text-align: justify;
    a, a:hover {
      text-decoration: none;
    }
  }

  .loader {
    display: block;
    height:  75px;
  }

  .buttons {
    text-align: center;
    margin: 10px auto 0;
  }
  
  .right {
    text-align: right;
    padding-right: 40px;
  }

  .center {
    text-align: center;
  }

  div.grey-container {
    background-color: #d3d3d3;
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* ANALYSIS STYLE */

  #fastaList{
     list-style: none;
     margin-top:3%;
     margin-bottom:2%;
     padding: 0;
  }
  #fastaList li{
     margin-top:2%  ;
  }
   #fastaList li{
     color:#BF6666;
  }
   #fastaList .success{
     color:#24a526;
  }

  #referenceFastaFile p{
    margin-top: 2%;
    margin-bottom: 2%;
    color:#BF6666;
  }

  #referenceFastaFile .Success{
    color:#24a526;   
  }

  #resultList{
    list-style:none;
  }

  #resultList a:link{
    color:#24a526;
  }
  .circleButton{
      border-radius: 23px;
  }
  .infoButton{margin-right:2%}

  #analysisList{
      margin-top:2%;
      margin-bottom:3%;
      list-style:none;
  }
  #analysisList li{
    margin-bottom:2%;
  }
  .titleAnalysis{font-size:20px}

  #analysisList .finished{
    background-color: #C7F4C7;
    color:white;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;

    }

  #analysisList .started{
    background-color: #7FBEE2;
    color:white;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;

    }

  #analysisList .failed{
    background-color: #F4B8B8;
    color:white;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;

    }

  #analysisList .created{
    background-color: #EDEA92;
    color:white;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;

    }

}

.mg-react-spinner{position:relative;height:100%}.mg-react-spinner .l-center{position:absolute;left:50%;top:50%;z-index:1}.mg-react-spinner__main{border:16px solid;border-radius:50%;border-top:16px solid;-webkit-animation:mg-spin 1s ease-out infinite;animation:mg-spin 1s ease-out infinite}@-webkit-keyframes mg-spin{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}@keyframes mg-spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.mg-react-spinner{position:relative;height:100%}.mg-react-spinner .l-center{position:absolute;left:50%;top:50%;z-index:1}.mg-react-spinner__main{border:16px solid;border-radius:50%;border-top:16px solid;-webkit-animation:mg-spin 1s ease-out infinite;animation:mg-spin 1s ease-out infinite}@-webkit-keyframes mg-spin{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}@keyframes mg-spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}


.list-group-item {
    display: list-item;
}

